*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
}

header{
	font-size: 40px;
	color: #222222;
	text-align: center;
}

.banner a > img{
	width: 100%;
}

#content{
	float: left;
	overflow: hidden;
	
}


#content a > img {
	width: calc(100% / 4);
	height: 500px;
	padding-right: 15px;
	padding-bottom: 20px;
	transition: .2s;
	
}

#content a > img:hover {
	transform: scale(1.1);
}


article #dv1{
	float: left;
	padding-bottom: 10px;
	width: 100%;
}