*{
	box-sizing: border-box;
}

body{
	margin: 0;
}
div{
	width: 100%;
	float: left;
}


#banner{
	max-width: 100%;
}

div.menu{
	text-align: center;
	font-size: 40px;
	padding: 20px;
	background: #C0C0C0;
}

div.menu a{
	text-align: center;
	color: #111111;
	text-decoration: none;
	padding-right: 50px;

}

div.menu a:hover{
	text-decoration: underline;
	color: red;
}

div.image img{
	max-width: 50%;
	border: 2px solid black;
	padding-right: 60px;
	background: #FFCCFF;
	}

div.image img:hover{
	margin: auto;
	background: red;
	border: 2px solid blue;
}